.custom-item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 8px;
    background-color: antiquewhite;
    height: 600px;
    width: 600px;
}

.custom-item-detail h1 {
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.custom-item-detail h2 {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: darkblue;
    margin: 12px 0px;
}

.custom-text{
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.custom-item-detail img {
    height: 400px;
    width: 250px;
    border: solid 1px black;
}

.custom-item-detail p {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
}
